@use "../../scss/variables_globales.scss" as vars;

.normativas-page {
    margin: 20px 10px 50px 10px;
    max-width: 1300px;
    background: vars.$color-blanco-puro;
    padding: 40px;
    border-radius: 18px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
    @media (max-width: 768px){
        margin: 15px 10px 55px 10px;
        padding: 20px 10px 10px 10px;
    }
}

.tabla-container {
  margin-top: 35px;
}
