@use "../../scss/variables_globales.scss" as vars;

.devpage-content-center {
  display: flex;
  flex-direction: column;
  align-items: center; // centra horizontalmente todos los elementos
  justify-content: center; // opcional: centra verticalmente si el contenedor tiene altura definida
  margin-top: 30px;
  gap: 25px; // separa cada elemento de manera uniforme
}

.devpage-collab-title {
  text-align: center; // centra texto y encabezados
  margin-top: 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: vars.$color-primario;
  @media (max-width: 768px){
    font-size: 1.2rem;
  }
}

.devpage-collab-img {
  margin-top: 20px !important;
  width: 450px;
  opacity: 1;
  transition: opacity 0.3s ease;
  &:hover {
    opacity: 0.7;
  }
}


.devpage-button-container {
  text-align: center;
  margin-top: 19px;
}


/* Responsive */

.devpage-developers-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
  max-width: 600px; // define el ancho máximo de la lista
  align-items: stretch; // hace que las tarjetas ocupen todo el ancho disponible
  margin: 0 auto; // centra la lista en la página
}

.devpage-developer-card {
  background: #ffffff;
  padding: 15px;
  border-radius: 14px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  
  h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    color: vars.$color-primario;
    margin-bottom: 0px;
    @media (max-width: 768px){
        font-size: 1.1rem;
    }
  }

  p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #3c3c3c;
    margin: 0;
    @media (max-width: 768px){
        font-size: 0.85rem;
    }

  }

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  }

}
