@import '../../utils/variables_globales.scss';

.user-layout{
    background-color: $color-fondo;
    width: 100%;
    display: grid;
    grid: 80px /1fr;
    grid-template-areas: 
        "menu"
        "content";
    min-height: 100vh;
    
    &__menu{
        background-color: $color-fondo;
        grid-area: menu;
    }
    
    &__main-content{
        grid-area: content;
    }
}