@use "../../utils/variables_globales.scss" as vars;

.user-layout{
    background-color: vars.$color-fondo;
    width: 100%;
    display: grid;
    grid: 80px /1fr;
    grid-template-areas: 
        "menu"
        "content";
    min-height: 100vh;
    
    &__menu{
        background-color: vars.$color-fondo;
        grid-area: menu;
    }
    
    &__main-content{
        display: flex;
        justify-content: center;
        grid-area: content;
    }
}