services:
  backend:
    build: ./backend
    container_name: backend-app
    ports:
      - "3001:3001"
    networks:
      - app-net

  frontend:
    build: ./frontend
    container_name: frontend-app
    environment:
      - REACT_APP_BASE_API=http://backend:3001
    ports:
      - "3030:80"  # expone solo el frontend para NPM
    networks:
      - app-net
    depends_on:
      - backend

networks:
  app-net:
    driver: bridge
