@use "../../utils/variables_globales.scss" as vars;

.error404-grid {
  margin: 0px !important;
  height: 100vh !important; // ocupa toda la pantalla
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 10px !important;
}

.error404-page {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1300px;
  padding: 40px;
  background: #fff;
  border-radius: 18px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}

.tituloPrincipalError404{
    font-size: 16rem;
    font-family: 'Montserrat', sans-serif;
    color: vars.$color-primario;
    font-weight: bold;
    margin: 0px;
    @media (max-width: 768px){
        font-size: 7rem;
    }
}

.subtituloError404{
    // font-size: 42px;
    font-size: 2.8rem;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: vars.$color-primario;
    margin: 0px;
    @media (max-width: 768px){
        font-size: 1.6rem;
    }
}

.descripcionError404{
    font-size: 1.9rem;
    font-family: 'Montserrat', sans-serif;
    color: vars.$color-primario;
    margin: 30px 0px;
    @media (max-width: 768px){
        margin: 15px 0px;
        font-size: 1.1rem;
    }
}
