@use "../../utils/variables_globales.scss" as vars;

.topMenu{
    height: 80px;
    background-color: vars.$color-fondo;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.25);
    padding: 10px 20px 10px 20px;
    margin: 0px !important;
    position: fixed;
    z-index: 100;
    width: 100%;
 }

.menuItemLarge{
    @media(max-width: 1150px){
        display: none !important;
    }
}

.menuItemMini{
    @media(min-width: 1150px){
        display: none !important;
    }
}

.logoTopMenu{
    height: 60px;
    margin-left: 30px;
    @media (max-width:600px){
        height: 40px;
        margin-left: 20px;
    }
}

.itemMenu{
    border-radius: 10px !important;
    padding: 5px 15px !important;
    
    &__texto{
        font-size: 1.2rem;
        font-family: 'Montserrat', sans-serif; /* texto principal */
        font-weight: 500;
        color: vars.$color-primario;
    }
}