@use "../../utils/variables_globales.scss" as vars;

.iconIntegrante,
.nombreIntegrante,
.descripcionIntegrante {
    color: vars.$color-primario;
}

.iconIntegrante {
    margin: 0px !important;
}
.nombreIntegrante {
    font-size: 20px;
    @media(max-width: 768px){
        font-size: 18px;
    }
}

.descripcionIntegrante {
    font-size: 18px !important;

    @media(max-width: 768px){
        font-size: 16px !important;
    }
}