@use "../variables_globales.scss" as vars;

.ui.primary.button {
    // font-size: 1px ;
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: vars.$color-blanco-puro;
    background: vars.$color-primario;
    // border-radius: 7px;
    &:hover{
        background: vars.$color-primario-hover;
    }
    &:focus{
      background: vars.$color-primario;
    }
}

.buttonFormat{
  &.ui.button {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    color: vars.$color-blanco-puro;
    background: vars.$color-primario;
    border-radius: 5px;
    
    &:hover{
        background: vars.$color-primario-hover;
    }
    &:focus{
      background: vars.$color-primario;
    }
    
    @media (max-width: 768px){
        font-size: 1.15rem;
    }
  }
    @media (max-width: 768px){
    &.ui.labeled.icon.button, .ui.labeled.icon.buttons {
      padding: 10px 40px 10px 10px!important;
    }
  }
}

.buttonFormatInverted{
    &.ui.button {
      font-family: 'Montserrat', sans-serif;
      font-size: 1.3rem;
      font-weight: 600;
      color: vars.$color-primario;
      border-radius: 5px;
      background: rgb(255, 255, 255, 0) !important;
      box-shadow:0px 0px 0px 2px vars.$color-primario inset !important;
      
      &:hover{
          background: vars.$color-primario !important;
          color: rgba(256, 256, 256, 1)
      }
      &:focus{
        background: vars.$color-primario;
      }
      
      @media (max-width: 768px){
          font-size: 1.15rem;
      }
  }
  @media (max-width: 768px){
    &.ui.labeled.icon.button, .ui.labeled.icon.buttons {
      padding: 10px 10px 10px 40px!important;
    }
  }
}


.buttonFormatGreen{
  &.ui.button {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: vars.$color-blanco-puro;
    background: #28A745;
    border-radius: 5px;
    margin: 0px;
    &:hover{
        background: #3ED265;
    }
    &:focus{
      background: #28A745;
    }
    
    @media (max-width: 768px){
        font-size: 1.1rem;
    }
  }
}

.buttonFormatRegister{
  &.ui.button {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: vars.$color-blanco-puro;
    background: vars.$color-primario;;
    border-radius: 5px;
    margin: 0px;
    &:hover{
        background: vars.$color-primario-hover;
    }
    &:focus{
      background: vars.$color-primario;;
    }
    
    @media (max-width: 768px){
        font-size: 1.1rem;
    }
  }
}

.buttonFormatJornada{
  &.ui.button {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: vars.$color-blanco-puro;
    background: vars.$color-primario;;
    border-radius: 5px;
    margin: 0px;
    &:hover{
        background: vars.$color-primario-hover;
    }
    &:focus{
      background: vars.$color-primario;;
    }
    
    @media (max-width: 768px){
      font-size: 1rem;
      &.ui.labeled.icon.button, .ui.labeled.icon.buttons {
        padding: 10px 12px 10px 40px !important;
      }
    }
  }
}