@use "../variables_globales.scss" as vars;

.tituloPage,
.descripcionPage,
.descripcionProceso {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: vars.$color-primario;
}

.tituloPage{
    font-size: 2rem;
    font-weight: 600;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    @media (max-width: 768px){
        font-size: 1.6rem;
    }
}

.descripcionPage{
    margin: 20px 0px 20px 0px !important;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.7;
    @media (max-width: 768px){
        font-size: 1.1rem;
        line-height: 1.4;
    }
}

.descripcionProceso{
    margin-top: 10px;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.7;
    @media (max-width: 768px){
        font-size: 1.1rem;
        line-height: 1.4;
    }
}