@use "../../scss/variables_globales.scss" as vars;

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #EAE8E9; /* Color de fondo del footer */
    font-family: 'Montserrat', sans-serif;
    color: vars.$color-primario; /* Color del texto del footer */
    text-align: center;
    padding: 5px 5px; /* Espaciado interior del footer */
    font-size: 0.9rem;
    &__noResponsive{
        @media(max-width: 900px){
            display: none !important;
        }
    }

    &__Responsive{
        padding: 5px;
        font-size: 0.85rem;
        line-height: 1.45;
        @media(min-width: 900px){
            display: none !important;
        }
    }

    @media (max-width: 900px){
        padding: 0px;
    }
  }