@use "../../scss/variables_globales.scss" as vars;

.tableNormativas {
  width: 100%;
  border-radius: 10px !important;

  thead th {
    border-radius: 10px 10px 0px 0px!important;
  }

  .iconFormat {
    color: vars.$color-violeta-75;
    transition: all 0.2s ease-in-out;
  }

  .iconFormat:hover {
    color: vars.$color-primario;
    transform: scale(1.1);
  }
}