@use "../../utils/variables_globales.scss" as vars;

.admision-stage {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  max-width: 900px;
  border-radius: 18px;
  padding: 30px;
  margin-bottom: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  
  @media (max-width: 768px){
    padding: 15px;
    border-radius: 13px;
    margin-bottom: 5px;
  }

  &.stage-digital {
    background: #f3f7fb;
    border-left: 6px solid #3a80ba;
  }

  &.stage-fisica {
    background: #faf5f8;
    border-left: 6px solid #91527a;
  }

  .admision-stage-title {
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: vars.$color-primario;
    margin: 0px 0px 4px 0px;
    @media (max-width: 768px){
      font-size: 1.3rem;
    }
  }

  .admision-stage-desc {
    font-family: 'Montserrat', sans-serif;
    color: #3c3c3c;
    font-size: 1rem;
    @media (max-width: 768px){
      font-size: 0.9rem;
    }
  }
}

.admision-alert {
    margin-top: 20px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    background-color: #fff6f0;
    color: #9c4800;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-weight: 500;

    @media (max-width: 768px){
      font-size: 0.9rem;
      border-radius: 10px;
    }
}
