@import "../../utils/variables_globales.scss";
$separator-size: 5px;
$separator-border-color: $color-primario;

@keyframes separator-width {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }

.separator--dotter--Procedimiento {
    margin: 5px 0px;
    border: 0;
    border-bottom: $separator-size dotted $separator-border-color;
    width: 100%;
    // animation: separator-width 1.5s ease-out forwards;
}

.botonesProcedimiento{
    @media (max-width: 768px){
        text-align: center !important;
    }

}
