@import "../../utils/variables_globales.scss";

.gridPage{
    padding: 14px !important;
    margin: -14px 0px 0px 0px !important;
    
    @media (max-width: 600px){
        padding: 14px 0px 14px 0px !important;
    }
}

.tituloPage{
    font-size: 32px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color: $color-primario;
    
    @media (max-width: 600px){
        margin: 0px 0px 10px 0px !important;
        font-size: 24px;
        text-align: center;
    }
}

.descripcionPage{
    font-size: 24px;
    text-align: justify;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color: $color-primario;
    margin-bottom: 10px;
    @media (max-width: 600px){
        font-size: 18px;
        // text-align: center;
    }
}

.hr-acercade{
    border-top: 2px dashed $color-primario;
    margin-top: 40px;
    margin-bottom: 20px;
}

@media (max-width: 600px){
    .tituloPrincipal{
        font-size: 30px;
    }

    .subtituloAcercaDe{
        font-size: 20px;
    }

    .descripcion{
        font-size: 18px;
    }

    .tituloSecundario{
        font-size: 22px;
    }
}

.contenedor-cartas{
    max-width: 1100px;
    display:flex;
    gap:30px;

    @media (max-width: 900px) {
        flex-direction: column;
        margin-bottom: 40px;
    }
}