@use "../../scss/variables_globales.scss" as vars;

.acercade-page {
    margin: 20px 10px 50px 10px;
    max-width: 1300px;
    background: vars.$color-blanco-puro;
    padding: 40px;
    border-radius: 18px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
    height: auto;             /* que crezca solo con su contenido */
    min-height: 0;            /* importante si el padre es flexbox */
    align-self: flex-start;   /* evita que sea centrado/estirado por padre flex */
      
    @media (max-width: 768px){
        margin: 15px 10px 55px;
        padding: 20px 10px 20px 10px;
    }
}

.contenedor-cartas{
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center;
}