@use "../../utils/variables_globales.scss" as vars;

.contenedorIcon{
    position:fixed;
    right: 10px;
    bottom: 10px;
    z-index: 100;
    color: vars.$color-primario;
    opacity: 50%;
    cursor: pointer;

    &:hover{
        opacity: 100%;
    }
}