// $color-primario: rgba(103, 37, 125, 1);
$color-blanco-puro: #FFFFFF;
$color-blanco: #F2F2F2;
$color-azul: #13304D;
$color-naranja: #EE7511;

$color-verde: #5F6D36;
$color-turquesa: #085D60;
$color-violeta: #542141;
$color-violeta-75: rgba(84, 33, 65, 0.75);
$color-azul-75: rgba(19, 48, 77, 0.75);



$color-primario: $color-violeta;
$color-primario-hover: $color-violeta-75;

$color-fondo: $color-blanco;