@use "../../utils/variables_globales.scss" as vars;

.paso-card {
  background: white;
  border-radius: 16px;
  padding: 20px 25px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  margin: 25px 0px 0px 0px;
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 22px rgba(0, 0, 0, 0.12);
  }
  @media (max-width: 768px){
    border-radius: 10px;
    padding: 15px;
    margin: 20px 0px 0px 0px;
  }
}

.paso-contenido {

  .paso-titulo {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: vars.$color-primario;
    gap: 10px;
    margin-bottom: 8px;
    
    @media (max-width: 768px){
      font-size: 1.1rem;
    }
  }

  .paso-icono {
    color: vars.$color-primario;
    opacity: 0.8;
  }

  .paso-descripcion {
    font-size: 1rem;
    color: #3c3c3c;
    line-height: 1.6;
    margin: 0;

    @media (max-width: 768px){
      font-size: 0.9rem;
    }
  }
}

// // Responsive
// @media (max-width: 700px) {
//   .paso-card {
//     flex-direction: column;
//     padding: 18px;

//     &::before {
//       left: 22px;
//     }

//     .paso-numero {
//       margin-bottom: 10px;
//     }
//   }

//   .paso-titulo {
//     font-size: 1.1rem;
//   }
// }
