@use "../../scss/variables_globales.scss" as vars;

.tituloItem,
.descripcionItem{
    font-family: 'Montserrat', sans-serif;
    color: vars.$color-primario;
}

.tituloItem{
    font-weight: 600;
    margin: 0px;
    font-size: 1.4rem;

    @media (max-width: 768px) {
        font-size: 1.2rem;
        line-height: 1.4;
    }
}

.descripcionItem{
    margin-top: 5px;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.7;
    @media (max-width: 768px){
        font-size: 1rem;
        line-height: 1.4;
    }
}

.contactoMapa{
    max-width:1312px;
    max-height: 843px;
    width: 100%;
    height: 100%;
    min-height: 250px;
}